.card{
  height: 200px;
  padding-left: 10px;
  animation: flip 0.8s ease forwards;
  opacity: 0;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.number1{
  animation-delay: 0.3s
}
.number2{
  animation-delay: 0.6s
}
.number3{
  animation-delay: 0.9s
}
.number4{
  animation-delay: 1.2s
}
