
.action-buttons{
  margin: 5px;
}

.twist-button, .stick-button, .start-game{
  color: #871E31;
  background-color:#DBCDA4;
  border-color:#871E31;
  border: 3px solid;
  margin: 5px;
  padding:5px;
  font-size: 24px;
  font-weight: bold;
}
