

.dealer-display-value, .player-total{
color: #D8C99B;
background-color:black;
opacity: 0.7;
border-color:#D8C99B;
border-style: solid;
margin: 50px;
padding:5px;
font-size: 15px;
font-weight: bold;
border-width: thick;
width: 40%;
}
