.old-maid-game{
  position: absolute;
}

.human-hand{
  position: relative;
  top: 55vh;
  left: 35vw;
  display:inline-block;
}

.cpu-one{
  position: relative;
  display:inline-block;
  top: 25vh;
  left: 300px;
  transform: rotate(90deg);
}

.cpu-two{
  position: relative;
  top: 300px;
  left: 55vw;
  display:inline-block;
  transform: rotate(180deg);
}

.cpu-three{
  position: relative;
  top: 65vh;
  left: 75vw;
  display:inline-block;
  transform: rotate(-90deg);

}

.old-maid-card{
  position: absolute;
}
