.cash-in{
  z-index: 9999;
  color: #D8C99B;
  background-color:#A4243B;
  opacity: 0.7;
  border-color:#D8C99B;
  border-style: solid;
  margin: 150px 10px 10px 10px;
  padding:10px;
  font-size: 15px;
  font-weight: bold;
  border-width: thick;
}
