.home-page-container{
  /* position: relative; */
  left:30%;
  top:50%;
  perspective: 1000px;
  height: 600px;
  background-image:url('http://pngimg.com/uploads/roulette/roulette_PNG24.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  background-color: rgba(164,198,175,0.7);
  background-blend-mode:luminosity;
}

.logo{
  align-self:right;
  height:50%;
  width:40%;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

.home-page-link{
  color: #D8C99B;
  text-decoration: none;
}

.home-page-link:visited{
  color: #D8C99B;
  text-decoration: none;
}

/* The flip card container */
.flip-card {
  display:grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr ;
  grid-template-rows: 400px;
  grid-template-areas:
  ". card-1 card-2 card-3 .";
  background-color: transparent;
  justify-content: center;
  padding: 30px;

}
.card1{
  grid-area: card-1;
}
.card2{
  grid-area: card-2;
}
.card3{
  grid-area: card-3;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 210px;
  height: 300px;
  text-align: center;
  margin: 35px;
  display: inline-block;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do flip when you move the mouse over the flip card container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 210px;
  height: 300px;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side*/
.flip-card-front {
  background: url('http://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-tally-ho-fan-back-1_grande.png?v=1530155076');
  background-size:cover;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}


.cash-in{
  color: #871E31;
  background-color:#DBCDA4;
  border-color:#871E31;
  border: 3px solid;
  border-radius: 5px;
  height: 36px;

}

.menu-button{
  font: 18px "Trebuchet MS", Helvetica, sans-serif;
  color: #DBCDA4;
  background-color:#871E31;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 144px;
  margin-left: 20px;
  margin-right: 10px;
  outline: none;
}
