
.snap-dealer-card{
  /* height: 200px; */
  padding-left: 10px;
  padding-top: 10px;
  animation: flip 0.8s ease forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes flip {
  0% {
    opacity: 0;
    /* transform: translateX(-500px); */
  }
  1% {
    opacity: 1;
    transform: translateX(-500px);
  }
  100%{
    opacity: 1;
  }

}
