.snap-dealer-card{
  padding-left: 10px;
  padding-top: 10px;
  animation: slide 0.8s ease forwards;
}

@keyframes slide {
  0% {
    transform: translateX(-500px);
  }
  100%{
    transform: translateX(90%);
  };
};
