.home-page-container{
  display: flex;
  flex-direction: row;
  position: relative;
  left:30%;
  top:50%;
}

.home-page-container{
  /* background-color: #A4243B; */
  /* background: url('http://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-tally-ho-fan-back-1_grande.png?v=1530155076');
  background-size: cover;
  background-repeat: no-repeat; */
  opacity: 0.9;
  color: #D8C99B;
  border-radius: 9px;
  height: 300px;
  width: 190px;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  margin: 35px;
  font-size: 2em;
  font-family:serif;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;

}


.home-page-container:hover .home-page-container{
  transform: rotateY(180deg);

}

.front-of-card ,.back-of-card{
  height: 300px;
  width: 190px;
  position: absolute;
  backface-visibility: hidden;

}

.back-of-card{
  background: url('http://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-tally-ho-fan-back-1_grande.png?v=1530155076');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.front-of-card{

}

.logo{
  height:100px;
  width:170px;
  position: absolute;
}




.home-page-link{
  color: #D8C99B;
  text-decoration: none;
}

.home-page-link:visited{
  color: #D8C99B;
  text-decoration: none;
}
