.zero-grid {
  position: relative;
  background-color: white;
  border: 5px solid white;
  bottom: 55px;
  color: white;
  text-align: center;
  font-size: 30px;
  grid-gap: 5px;
  display: grid;
  grid-template-columns: 4vw;
  grid-template-rows: 4vw 4vw;
}

.zero {background-color: #1D7137; grid-row: 1/2}
.double-zero {background-color: #1D7137; grid-row: 2/3}

.board-grid {
  position: relative;
  left: -5px;
  font-size: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  grid-template-rows: 4vw 4vw 4vw 4vw 4vw 4vw;
  grid-gap: 5px;
  color: white;
  background-color: white;
  border: 5px solid white;
}

.numbers-cont {
  grid-row: 2/5;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  grid-template-rows: 4vw 4vw 4vw;
  grid-gap: 5px;
}

.numbers-background {
  background-color: #1D7137
}

.numbers {
  margin: 5%;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-color: red;
}

.even {background-color: black;}

.numbers-background:nth-child(3n-2) {grid-row: 3/4}
.numbers-background:nth-child(3n-1) {grid-row: 2/3}
.numbers-background:nth-child(3n) {grid-row: 1/2}

.numbers-background:nth-child(1) {grid-column: 1/2}
.numbers-background:nth-child(2) {grid-column: 1/2}
.numbers-background:nth-child(3) {grid-column: 1/2}
.numbers-background:nth-child(4) {grid-column: 2/3}
.numbers-background:nth-child(5) {grid-column: 2/3}
.numbers-background:nth-child(6) {grid-column: 2/3}
.numbers-background:nth-child(7) {grid-column: 3/4}
.numbers-background:nth-child(8) {grid-column: 3/4}
.numbers-background:nth-child(9) {grid-column: 3/4}
.numbers-background:nth-child(10) {grid-column: 4/5}
.numbers-background:nth-child(11) {grid-column: 4/5}
.numbers-background:nth-child(12) {grid-column: 4/5}
.numbers-background:nth-child(13) {grid-column: 5/6}
.numbers-background:nth-child(14) {grid-column: 5/6}
.numbers-background:nth-child(15) {grid-column: 5/6}
.numbers-background:nth-child(16) {grid-column: 6/7}
.numbers-background:nth-child(17) {grid-column: 6/7}
.numbers-background:nth-child(18) {grid-column: 6/7}
.numbers-background:nth-child(19) {grid-column: 7/8}
.numbers-background:nth-child(20) {grid-column: 7/8}
.numbers-background:nth-child(21) {grid-column: 7/8}
.numbers-background:nth-child(22) {grid-column: 8/9}
.numbers-background:nth-child(23) {grid-column: 8/9}
.numbers-background:nth-child(24) {grid-column: 8/9}
.numbers-background:nth-child(25) {grid-column: 9/10}
.numbers-background:nth-child(26) {grid-column: 9/10}
.numbers-background:nth-child(27) {grid-column: 9/10}
.numbers-background:nth-child(28) {grid-column: 10/11}
.numbers-background:nth-child(29) {grid-column: 10/11}
.numbers-background:nth-child(30) {grid-column: 10/11}
.numbers-background:nth-child(31) {grid-column: 11/12}
.numbers-background:nth-child(32) {grid-column: 11/12}
.numbers-background:nth-child(33) {grid-column: 11/12}
.numbers-background:nth-child(34) {grid-column: 12/13}
.numbers-background:nth-child(35) {grid-column: 12/13}
.numbers-background:nth-child(36) {grid-column: 12/13}

.one-to-eighteen{background-color: #1D7137; grid-row:1/2; grid-column: 1/7}
.nineteen-to-thirtysix {background-color: #1D7137; grid-row:1/2; grid-column: 7/13}

.one-to-twelve {background-color: #1D7137; grid-row: 5/6; grid-column: 1/5}
.thirteen-to-twentyfour {background-color: #1D7137; grid-row: 5/6; grid-column: 5/9}
.twentyfive-to-thirtysix {background-color: #1D7137; grid-row: 5/6; grid-column: 9/13}

.even-box {background-color: #1D7137; grid-row: 6/7; grid-column: 1/4}
.odd-box {background-color: #1D7137; grid-row: 6/7; grid-column: 10/13}

.red {background-color: red; grid-row: 6/7; grid-column: 4/7}
.black {background-color: black; grid-row: 6/7; grid-column: 7/10}

.row1 {background-color: #1D7137; grid-row: 2/3; grid-column: 13/14}
.row2 {background-color: #1D7137; grid-row: 3/4; grid-column: 13/14}
.row3 {background-color: #1D7137; grid-row: 4/5; grid-column: 13/14}

.empty1 {background-color: #1D7137; grid-row: 1/2; grid-column: 13/14}
.empty2 {background-color: #1D7137; grid-row: 5/7; grid-column: 13/14}

.numbers, .one-to-eighteen, .nineteen-to-thirtysix, .one-to-twelve, .thirteen-to-twentyfour, .twentyfive-to-thirtysix, .even-box, .odd-box, .red, .black, .row1, .row2, .row3, .zero, .double-zero{
  display: flex;
  justify-content: center;
  align-items: center;
}
