.player-tray {
  display: flex;
  z-index: 0;
  position: relative;
  background-color: rgb(182, 125, 72);
  height: 10vh;
  width: 55vw;
  left: 15.1vw;
  margin-top: 1.1vw;
  border: 1vw solid rgb(56, 36, 18);
  box-shadow: 0 -1vw 0 1vw rgb(128, 84, 43);
  border-bottom: 0;
}
.coin-container {
  display: flex;
}
.coin-front {
 width: 80px;
 margin: 10px;
}
