.gameboard {
  height: 50vh;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #1D7137;
  padding: 30px;
  border: 10px solid white;
  border-radius: 50px;
}
.board-and-wheel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98.95%;
  height: 65vh;
  border: 10px solid rgb(128, 84, 43);
}
