.gameboard {
  height: 25vw;
  display: flex;
  align-items: center;
  background-color: #1D7137;
  padding: 1.9vw;
  margin: 1.25vw;
  border: 0.6vw solid white;
  border-radius: 3.15vw;
}
.board-and-wheel {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93vw;
  height: 33vw;
  margin-top: 1.25vw;
  border: 1vw solid rgb(56, 36, 18);
  box-shadow: 0 0 0 1vw rgb(128, 84, 43);
  border-top-right-radius: 3.15vw;
  border-bottom-right-radius: 3.15vw;
  border-bottom-left-radius: 20vw;
  border-top-left-radius: 20vw;

}

.cheat-button {
  position: absolute;
  width: 1.25vw;
  height: 0.6vw;
  background-color: transparent;
  top: 48.1vw;
  left:36vw;
  z-index: 2
}

.bronze:hover {
  cursor: url(images/Bronzecoin.png), auto;
}
.silver:hover {
  cursor: url(images/Silvercoin.png), auto;
}
.gold:hover {
  cursor: url(images/Goldcoin.png), auto;
}
