.navbar{

  color: #871E31;
  background-color:#DBCDA4;
  border-color:#871E31;
  border: 3px solid;
  border-radius: 5px;

  font: 24px "Trebuchet MS", Helvetica, sans-serif;

  display:grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 30px;
  grid-template-areas:

  "coin-display button-1 button-2 button-3 button-4"

}

.one{
  grid-area: coin-display;
}
.two{
  grid-area: button-1;
}

.three{
  grid-area: button-2;
}

.four{
  grid-area: button-3;
}

.five{
  grid-area: button-4;
}

.link{
  margin-left: 20px;
  text-align: center;
  font: 24px "Trebuchet MS", Helvetica, sans-serif;
  color: #871E31;
  text-decoration: none;
}
.link:visited{
  margin-left: 20px;
  font: 24px "Trebuchet MS", Helvetica, sans-serif;
  color: #871E31;
  text-decoration: none;
}

.text{
  margin-left: 20px;
  text-align: center;
  font: 24px "Trebuchet MS", Helvetica, sans-serif;
  color: #871E31;
}
