.navbar{
  color: #A4243B;
  background-color: #D8C99B;
  font: 24px "Trebuchet MS", Helvetica, sans-serif;

  display:grid;
  grid-template-columns: 0.2fr 0.2fr;
  grid-template-rows: 30px;
  grid-template-areas:
  "coin-display button-1 button-2 button-3"
}

.one{
  grid-area: coin-display;
}
.two{
  grid-area: button-1;
}

.three{
  grid-area: button-2;
}

.four{
  grid-area: button-3;
}

.link{
  margin-left: 20px;
  text-align: center;
  border-width: thin;
  font: 24px "Trebuchet MS", Helvetica, sans-serif;
  color: #A4243B;
  text-decoration: none;
}
.link:visited{
  margin-left: 20px;
  font: 24px "Trebuchet MS", Helvetica, sans-serif;
  color: #A4243B;
  text-decoration: none;
}
